<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleName</key>
  <string>WINQ</string>
  <key>CFBundleDisplayName</key>
  <string>WINQ</string>
  <key>NSLocationWhenInUseUsageDescription</key>
  <string>WINQ uses your location to find nearby WINQs.</string>
  <key>NSCameraUsageDescription</key>
  <string>WINQ needs your camera for face verification.</string>
</dict>
</plist>
